<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="app-container">

    <aside class="sidebar">
        <nav>
            <a href="/"><img src="logo.png" alt="logo"></a>
            <ul>
                <li><a href="/categoria.html">Libros</a></li>
                <li><a href="#">Actuales</a></li>
                <li><a href="#">Favoritos</a></li>
            </ul>
        </nav>
    </aside>

    <main class="main-content">

        <header class="main-header">
            <input type="text" placeholder="Buscar..." class="search-bar" />
            <div class="nav-buttons">
            <a href="#">🔍</a>
                <a href="/FQ.html">F&Q</a>
                <a href="#">EXIT</a>
            </div>
        </header>

        <section class="category-section">
            <h2>Categoria 1</h2>
            <div class="book-grid">
                <div class="book-card">
                    <div class="image-placeholder"></div>
                    <h3>Libro 1</h3>
                    <p>Autor</p>
                </div>
                <div class="book-card">
                    <div class="image-placeholder"></div>
                    <h3>Libro 2</h3>
                    <p>Autor</p>
                </div>
            </div>
        </section>

        <section class="category-section">
            <h2>Categoria 2</h2>
            <div class="book-grid">
                <div class="book-card">
                    <div class="image-placeholder"></div>
                    <h3>Libro 3</h3>
                    <p>Autor</p>
                </div>
            </div>
        </section>

    </main>
    </div>

<script src="rating.js"></script>

</body>
</html>
