<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del Libro</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
</head>
<body>
    <div class="app-container">

        <aside class="sidebar">
            <nav>
                <a href="index.html"><img src="/img/logo.png" alt="logo"></a>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#" id="pendings" >Pendientes</a></li>
                    <li><a href="#" id="actuals">Actuales</a></li>
                    <li><a href="#" id="readed">Finalizados</a></li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">

            <header class="main-header">
                <form id="searchForm">
                    <input type="text" placeholder="Buscar..." class="search-bar" />
                    <button class="searchButton">🔍</button>
                </form>
                <div class="nav-buttons">
                    <a href="/profile" class="user-icon">👤</a>
                    <a href="/FQ">F&Q</a>
                    <div class="cerrar-sesion" id="logout-btn">
                        <a href="#"><img src="/img/cerrar-sesion.png" alt="icono cerrar sesion"></a>
                    </div>
                </div>
            </header>

            <div class="main-header-libro">
                <h1 class="category-title">TÍTULO LIBRO</h1>
            </div>
        
            <section class="book-detail">
                <div class="image-placeholder detail"></div>
                <div class="book-data">
                    <h2>TÍTULO LIBRO</h2>
                    <h4>Autor: Nombre Autor</h4>
                    <p class="description">
                        Descripcion1...
                    </p>
                    <p class="description">
                        Descipcion2...
                    </p>
                    <div class="rating" data-book-id="123">
                      <span class="star" data-value="1">☆</span>
                      <span class="star" data-value="2">☆</span>
                      <span class="star" data-value="3">☆</span>
                      <span class="star" data-value="4">☆</span>
                      <span class="star" data-value="5">☆</span>
                    </div>
                </div>
            </section>
        
          <section class="reviews">
                <h3>Reseñas</h3>
                <div class="review">
                    <p><strong>Nombre:</strong> Usuario 1</p>
                    <div class="rating" data-book-id="123">
                        <span class="star" data-value="1">☆</span>
                        <span class="star" data-value="2">☆</span>
                        <span class="star" data-value="3">☆</span>
                        <span class="star" data-value="4">☆</span>
                        <span class="star" data-value="5">☆</span>
                    </div>
                    <p>Comentario: </p>
                </div>

                <div class="review">
                    <p><strong>Nombre:</strong> Usuario 2</p>
                    <div class="rating" data-book-id="123">
                        <span class="star" data-value="1">☆</span>
                        <span class="star" data-value="2">☆</span>
                        <span class="star" data-value="3">☆</span>
                        <span class="star" data-value="4">☆</span>
                        <span class="star" data-value="5">☆</span>
                    </div>
                    <p>Comentario: </p>
                </div>
            </section>

        </main>
    </div>

<script src="/js/index.js"></script>


</body>
</html>
